[Unit]
Description=Check SusPredict main every two minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=10s
Unit=suspredict-update.service

[Install]
WantedBy=timers.target
